<!-- index.html -->

{% extends 'base.html' %}

{% block content %}
  <h2>Tuotteet</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Tuote</th>
        <th>Sijainti</th>
        <th>Hylly</th>
        <th>Määrä</th>
        <th>Päivämäärä</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
        <tr>
          <td>{{ product.description }}</td>
          <td>{{ location.type }}</td>
          <td>{{ location.shelf }}</td>
          <td>{{ stocks.quantity }}</td>
          <td>{{ stocks.timestamp }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
