<!-- index.html -->

{% extends 'base.html' %}

{% block content %}
<br>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Haku" name="q" hx-get="/search_stock" hx-trigger="keyup changed" hx-target="#results">
</div>
  <h2>Tuotteet</h2>
  {% if stocks %}
  <table class="table">
    <thead>
      <tr>
        <th>Tuote</th>
        <th>Sijainti</th>
        <th>Hylly</th>
        <th>Määrä</th>
        <th>Päivämäärä</th>
      </tr>
    </thead>
    <tbody id="results">

    </tbody>
  {% else %}
  <p>No results found.</p>
  {% endif %} 
  </table>
{% endblock %}